<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/users/login" method="post">
      <input type="email" aria-label="email" name="email" required />
      <input type="text" aria-label="password" name="password" required />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
